<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638666852369-qimm3uu796rdaun5r1gdp4u8md1umj70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638666852369-qimm3uu796rdaun5r1gdp4u8md1umj70</string>
	<key>API_KEY</key>
	<string>AIzaSyD4T8d8qZMuQAzpVSIh6ydyrSWF1JV3Vf8</string>
	<key>GCM_SENDER_ID</key>
	<string>638666852369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medlink</string>
	<key>PROJECT_ID</key>
	<string>medlink-2f073</string>
	<key>STORAGE_BUCKET</key>
	<string>medlink-2f073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638666852369:ios:47ebb9908a2557228d89b0</string>
</dict>
</plist>